<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Easy Proctor Test Automation Test Suite">

<!-- <listeners>
		<listener class-name="com.easyproctor.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>  
	

        <listener class-name="com.easyproctor.qa.ExtentReportListener.MyTransformer"/>
</listeners> -->
	
	<listeners>
		<listener class-name="com.easyproctor.qa.pages.CustomListener" />
	</listeners>  
	
	<test name="Chrome Testing1">
		
		<classes>
	
   <class name="com.easyproctor.qa.testcases.EPReviewerTest"></class> 
   
 		 <!--  <class name="com.easyproctor.qa.testcases.CQIProctorPageTest"></class> -->  
 	 <!--  <class name="com.easyproctor.qa.testcases.OxfordStar"></class> -->
 	   
 	 
		</classes>
	</test>
	
	<!-- <test name="Chrome Testing2">
		
		<classes>
 
<class name="com.easyproctor.qa.testcases.CandidateLoginTest"></class> 
 
		</classes>
	</test> -->
	
	
</suite>